[submodule "Aphelion/thirdParty/spdlog"]
	path = Aphelion/thirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Aphelion/thirdParty/glfw"]
	path = Aphelion/thirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "Aphelion/thirdParty/imgui"]
	path = Aphelion/thirdParty/imgui
	url = https://github.com/antjowie/imgui.git
[submodule "Aphelion/thirdParty/glm"]
	path = Aphelion/thirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "Aphelion/thirdParty/enet"]
	path = Aphelion/thirdParty/enet
	url = https://github.com/antjowie/enet
[submodule "Aphelion/thirdParty/bitsery"]
	path = Aphelion/thirdParty/bitsery
	url = https://github.com/fraillt/bitsery
[submodule "Aphelion/thirdParty/entt"]
	path = Aphelion/thirdParty/entt
	url = https://github.com/skypjack/entt
[submodule "Aphelion/thirdParty/PhysX"]
	path = Aphelion/thirdParty/PhysX
	url = https://github.com/phcerdan/PhysX
	ignore = dirty
