[submodule "Shinobu/thirdParty/spdlog"]
	path = Shinobu/thirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Shinobu/thirdParty/glfw"]
	path = Shinobu/thirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "Shinobu/thirdParty/imgui"]
	path = Shinobu/thirdParty/imgui
	url = https://github.com/antjowie/imgui.git
[submodule "Shinobu/thirdParty/glm"]
	path = Shinobu/thirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "Shinobu/thirdParty/enet"]
	path = Shinobu/thirdParty/enet
	url = https://github.com/antjowie/enet
[submodule "thirdParty/enet"]
	url = https://github.com/antjowie/enet
